<!DOCTYPE html>
<html lang="en">
  <head>
     <% include ../partials/ldOut %>
  </head>
  <body class="slds">
    <header>
    </header>
    <main>
      <div >
        <p>Sales Leaderboard On Heroku *****</p>
        <div id="leaderboard"></div>
          </div>
      </main>
        <footer>
        </footer>
        console.log('----------------------------');
         <script src="https://lightningappdemo4-dev-ed.my.salesforce.com/lightning/lightning.out.js"/>
        <script>
          var url = "<%= lightningEndPointURI %>";
          var token = "Bearer "+"<%= oauthtoken %>";
          console.log(token);
            $Lightning.use("SEDreamin:SalesLeaderBoardVfApp", function() {
                  $Lightning.createComponent("SEDreamin:SalesLeaderMain", {},
                     "leaderboard",
                      function(cmp) {
                         // do some stuff
                      });
            },url,token );
        </script>
         <p>Sales Leaderboard On Heroku *****END</p>
  </body>
</html>
